---
layout: layouts/base
---
<h2 class="post-content__title">{{ title | safe }}</h2>
<p class="post-description">{{ description | safe }}</p>
---
<div class="post-content">
  {{ content | safe }}
</div>
