/* src/css/styles.css */

/* Define custom colors */
:root {
    --background-color: #110b0b; /* Dark background color */
    --secondary-background-color: #281b1b; /* Lighter background color */
    --text-color: #a4a0a0; /* Light text color */
    --link-color: #06a3d7; /* Bold blue link color */
    --accent-color: #b23923; /* Bold red accent color */
    --header-color: #c27d03; /* Bold orange header color */
}

/* Light theme preference*/
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffe2f6;
        --secondary-background-color: #f8c1f1;
        --text-color: #4f3c3c;
        --link-color: #af0064;
        --accent-color: #0a6e66;
        --header-color: #0044ab;
    }
}

/* Body Styles */
body {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, Andale Mono WT, Andale Mono, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Nimbus Mono L, Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.15em;
}

/* List Styles */
ul {
    margin: 1em 0;
    padding: 0 0 0 1em;
}

/* Header Styles */

header {
    text-align: center;
    margin: 2em auto;
    background: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em auto 0.25em auto;
}

h1 {
    font-size: 2.5em;
    color: var(--header-color);
}

h2 {
    font-size: 2em;
    color: var(--header-color);
}

h3 {
    font-size: 1.8em;
    color: var(--header-color);
}

h4 {
    font-size: 1.5em;
    color: var(--header-color);
}

h5 {
    font-size: 1.2em;
    color: var(--header-color);
}

h6 {
    font-size: 1em;
    color: var(--header-color);
}

/* Link Styles */
a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Accent Styles */
.subheadline {
    color: var(--accent-color);
    font-weight: bold;
    margin-top: 0;
}

main {
    max-width: 100vw;
    margin: 1em auto;
    padding: 1em;
    box-shadow: 0 0 3px var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
}


/* Media Queries */

@media (min-width: 768px) {
    main {
        max-width: 800px;
    }

    body {
        font-size: 1.35em;
    }
}

/* Add footer styles */
footer {
    background-color: var(--secondary-background-color); /* Link color in the footer */
    color: var(--text-color); /* Text color in the footer */
    text-align: center;
    margin-top: 4em;
    padding: 1em 0;
}

/* Style links in the footer */
footer a {
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover {
    text-decoration: underline;
}

/* Style other body elements */

/* Styles for the table element */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    background-color: var(--background-color);
}

table, th, td {
    border: 1px solid var(--text-color);
}

th, td {
    padding: 0.7em;
    text-align: left;
}

th {
    background-color: var(--background-color);
    color: var(--header-color);
    font-size: 105%;
}

/* Reset paragraph styles */
p {
    margin: 0.75em 0;
    line-height: 1.3;
}

/* Styles for the blockquote element */
blockquote {
    border-left: 4px solid var(--accent-color);
    margin: 1.25em 0;
    padding: 0.2rem 1em;
}

/* Styles for the custom footnote element */
.footnote {
    font-size: 80%;
    color: var(--text-color);
}

.footnote::before {
    content: "Note: ";
    font-weight: bold;
    color: var(--accent-color);
}

/* Code block styles */
pre {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 10px;
    margin: 0.75em 0;
    overflow-x: auto;
    line-height: 1.4;
    white-space: pre-wrap;
}

pre code {
    display: block;
    padding: 6px;
    color: var(--text-color);
    background-color: var(--secondary-background-color);
    border-radius: 5px;
}

code {
    padding: 6px;
    line-height: 1.4;
    color: var(--text-color);
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    display: inline-block;
}

nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 0.5em; /* Add spacing between list items */
}

nav ul {
    padding: 0;
    margin: 0;
}

.post-content {
    border-bottom: 1px solid var(--secondary-background-color);
}

main article ul li, main article ol li {
    margin: 0.75em 0;
}

main article ul li a, main article ol li a {
    font-size: 1.1em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
}

.ascii-garden {
    white-space: pre;
    font-family: monospace;
}
