---
layout: layouts/base.njk
title: 404
permalink: 404.html
eleventyExcludeFromCollections: true
templateEngineOverride: njk, md
---
## Whoops! - Page not found
The page you are looking for does not exist. Please check the URL or go to the [homepage](/).

<br>


```text
██╗  ██╗ ██████╗ ██╗  ██╗
██║  ██║██╔═████╗██║  ██║
███████║██║██╔██║███████║
╚════██║████╔╝██║╚════██║
     ██║╚██████╔╝     ██║
     ╚═╝ ╚═════╝      ╚═╝
```
