---
layout: layouts/post
title: colophon
description: a statement at the end of a book or document providing information about its production, such as the publication date, authorship, and printing details.
templateEngineOverride: njk, md
---
### Authorship

All content on this site is owned by Parth Shiralkar.

### Tech

The site is, of course, built via [Eleventy](https://www.11ty.dev/) and hosted on [Netlify](https://www.netlify.com/).

HTML, CSS, Markdown, and Nunjucks templates are used to build the site.

<div id="wcb" class="carbonbadge wcb-d"></div>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>

The monospace font stack is as follows:

```css
Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, Andale Mono WT, Andale Mono, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Nimbus Mono L, Courier, monospace;
```

### Privacy

No language models or tracking services are used on this site. I don't care about all that.

I will be developing this theme further (I'm lying), and releasing it as a template for others to use.

### Design

The design and layout of this site is directly inspired by many personal sites of the older internet.

I am a little young, but I am fond of the older web.
And there are many sites like it, but this one is mine.

Read more about [the site's conception here](/garden).

See the [meta page](/meta) for more general information about the site.

> The quote on the main page is by Terry Pratchett, one of my favourite authors.


