---
layout: layouts/base
title: colophon
description: how'd this book get published?
templateEngineOverride: njk, md
---
## colophon

This site came about as a direct result of a small train of thought I let my mind loose on; on a Monday of all days, Jeeves, my goodness.

> Pah.

What we have here is simply a smaller, simpler domain for me to pour a beaker or two of energy into.

The site is, of course, built via [Eleventy](https://www.11ty.dev/) and hosted on [Github Pages](https://pages.github.com/).

The font face is [Inconsolata](https://levien.com/type/myfonts/inconsolata.html), a beautiful monospace font by Raph Levien.

The design and layout of this site is directly inspired by many personal sites of the older internet.

I am a little young, but I am fond of the older web.
And there are many sites like it, but this one is mine.

There is a light and a dark theme that switches per the user's browser/system preference.
