---
layout: layouts/base.njk
title: garden
templateEngineOverride: njk, md
---
## garden

### What is a Domain?

From the fan wiki of the manga Jujutsu Kaisen (JJK):

##### **Innate Domain**[^1]
(`生得領域しょうとくりょういき` Shōtoku Ryōiki?), normally referred to simply as a Domain (`領域りょういき` Ryōiki?) is a mental landscape that embodies the mind of an individual which they are born with. Innate domains serve as the foundation of an innate cursed technique, but sorcerers, non-sorcerers and cursed spirits are born with them.

##### **Domain Expansion**[^2]
(`領りょう域いき展てん開かい` Ryōiki Tenkai?) is an advanced barrier technique and is considered the pinnacle of jujutsu sorcery. It constructs the user's innate domain inside a barrier infused with their innate cursed technique. Within a domain expansion, the user's cursed techniques are improved and any that are activated are guaranteed to hit.

##### **New Shadow Style: Simple Domain**[^3]
(`シン・陰かげ流りゅう` `「簡かん易い領りょう域いき」` Shin Kageryū: Kan'i Ryōiki?) is an anti-domain technique that erects a small barrier around the user to protect them from the effects of a Domain Expansion.


[^1]: [Innate Domain Wiki](https://jujutsu-kaisen.fandom.com/wiki/Innate_Domain)
[^2]: [Domain Expansion Wiki](https://jujutsu-kaisen.fandom.com/wiki/Domain_Expansion)
[^3]: [Simple Domain Wiki](https://jujutsu-kaisen.fandom.com/wiki/Simple_Domain)


### What does Temporal Harmony Garden mean?

Domain Expansions in the JJK universe come from the user's innate technique, the landscape of which their mind is usually wandering in.

Here are some popular examples already in the universe:

- Horizon of the Captivating Skandha
- Chimera Shadow Garden
- Malevolent Shrine
- Self-Embodiment of Perfection
- Time Cell Moon Palace
- Unlimited Void

The thing is, these terms apply beyond just this fictional universe. The mind is a powerful thing, whatever it is.

Your domains of influence over what you do are dictated by exactly one person: you. You are the master of your own mind, and you can create your own domain.

I created the name `Temporal Harmony Garden` to represent the landscape of my mind. It's a chill place, a bit chaotic, but endless fun.

Welcome.


<br>
