---
layout: layouts/base
title:  'glyph'
description: a list of all posts on the site
date: 2023-10-23
templateEngineOverride: njk, md
---
<h2 class="post-content__title">{{ title | safe }}</h2>
<p class="post-description">{{ description | safe }}</p>
---
<ul>
    {% for post in collections.post %}<li class="post-title">
            <a href="{{ post.url }}" title="go to post">{{ post.data.title }}</a><span> {{ post.data.date | date('YYYY-MM-DD') }}</span>
        </li>
    {% endfor %}
</ul>




> It’s still magic even if you know how it’s done.
