---
layout: layouts/base
title:  'glyph'
date: 2023-10-23
templateEngineOverride: njk, md
---
## glyph

<ul>
    {% for post in collections.post %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
    {% endfor %}
</ul>
