---
layout: layouts/post.njk
title: keys and treasure maps
templateEngineOverride: njk, md
---
To ensure secure and private communication with me, you can use my public key to encrypt messages or verify my digital signatures. Follow these steps to get started:

### 1. Obtain the key

<a href="/public.asc" download="public.asc">Download My Public Key</a>

### 2. Import My Public Key

If you're using encryption software, consult its documentation for instructions on how to import a public key. Look for an option to add or import keys.

### 3. Encrypt a Message

To send me an encrypted message, follow these steps:

- Compose your message in a text editor or messaging application.
- Use the recipient's key (my public key) to encrypt the message. This process is typically found in the software's menu or settings. Select my public key as the recipient for encryption.

### 4. Send the Encrypted Message

You can now send the encrypted message to me through your preferred communication channel, such as email. Make sure to inform me that the message is encrypted, and I will be able to decrypt it using my private key.

### 5. Verify Signatures (Optional)

If you receive a message purportedly from me and want to verify its authenticity, check your software for features related to signature verification. Most email clients and encryption software have options for verifying digital signatures. Consult your software's documentation for details.

Remember to keep your private key secure and never share it with anyone. Public keys are safe to share, as they are used for encryption and verification.

If you have any questions or encounter issues, feel free to reach out for assistance: **hi at parth dot ninja**.

Secure communication is essential for privacy and confidentiality, and using my public key ensures that our messages are protected from unauthorized access.

Thank you for choosing secure communication!
