---
layout: null
permalink: /manifest.json
---
{
    "name": "{{ metadata.siteName }}",
    "short_name": "{{ metadata.siteShortName }}",
    "description": "{{ metadata.siteDescription }}",
    "start_url": "/",
    "display": "standalone",
    "background_color": "#281b1b",
    "theme_color": "#110b0b"
}
