---
layout: layouts/base.njk
title: meta
templateEngineOverride: njk, md
---
## meta

### About this site

Find technical details about this site in [the colophon](/colophon).
No language models or tracking services are used on this site. It's just a text blog for myself. If it's too raw or too much, please visit the tamer [main site](https://parth.ninja).

### About me

Big fan of things.

### Glyphs

A glyph is a symbol that conveys meaning through its form. An example of a glyph is the ancient Egyptian hieroglyphic for "water" (a wavy line). The word glyph comes from the Greek γλυφή, "carving."

### Site updates

- 2023-10: Create the base site
- 2023-10: Begin to write posts
- 2023-11: Create secondary pages

### Test 404

[Not a valid link](/notfound)
