---
layout: layouts/post.njk
title: meta
description: meta information about the site
templateEngineOverride: njk, md
---
### Why and what is this?

It's a personal blog. A [post about this site](/2023/posts/why/) is available.
I write about things that find me interesting. Not all of it will make sense; that's fine.

Locate more technical details about this site in [the colophon](/colophon).


### About me

Big fan of things.

### Glyphs

A glyph is a symbol that conveys meaning through its form. An example of a glyph is the ancient Egyptian hieroglyphic for "water" (a wavy line). The word glyph comes from the Greek γλυφή, "carving."

### Site updates

- 2023-10: Create the base site
- 2023-10: Begin to write posts
- 2023-11: Create secondary pages

### Test 404

[Not a valid link](/notfound)
